@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: black;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 5% 0 5%;
}
.logo a img {
    height: 79px;
}
.listNav {
    display: flex;
    gap: 2em;
    list-style-type: none;
    text-transform: uppercase;
}
li a {
    text-decoration: none;
    color: #fff;
}
ul li {
    padding-bottom: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
    background: red; /* the color */
    transition: 0.3s, translate 0s 0.3s;
}
ul:hover li:before {
    scale: 1;
}
ul li:hover:before {
    translate: 0;
    transition: 0.3s;
}
ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}
ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}

.main-content {
    position: relative;
}

.background-image {
    background-image: url("tupac_background.jpg"); /* mettre une photo de tupac */
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajuster au besoin */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    display: flex;
    background-color: #383838;
    color: white;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}
