main {
    background-image: url(../Image/DOS\ 2pac.jpeg);
    padding-top: 180px;
    padding-bottom: 160px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.name-1 img {
    display: block;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    margin: 0 auto;
}

.name-2 {
    margin-top: 100px;
    
}

h4 {
    
    text-align: center;
    color: red;
    font-size: 14px;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;

}

.name-3 {
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

.name-3 p {
    text-align:  justify;
    
    color: white;
    font-size: 22px;
}


