header {
    z-index: 999;
}
.titreG {
    text-align: center;
    font-size: 220px;
}
main {
    display: flex;
    justify-content: center;
}
main ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100vw;
}

main ul li {
    padding: 0;
}

main ul li a img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
    z-index: -2;
}

main ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

main ul li a {
    outline-offset: 4px;
}

main ul li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
}

main ul li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
}
main ul li:has(+ li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
}
main ul li:has(+ li + li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li + li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
}
main ul li:has(+ li + li + li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li + li + li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
}
main ul li:has(+ li + li + li + li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li + li + li + li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
}
main ul li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li + li + li + li + li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
}
main ul li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
main ul li:is(:hover, :focus-within) + li + li + li + li + li + li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
}
